name: Coverage

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  coverage:
    if: github.server_url == 'https://github.com'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 10

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Coverage
        uses: gwatts/go-coverage-action@v2
        with:
          coverage-threshold: 0
          cover-pkg: ./...
          fail-coverage: never
